*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: black;
    color: yellow;
    padding: 20px;
}

.header-info{
    background-image: url('./img/setbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.header-text{
    
    width: 300px;
    height: 100px;
}

.header-info img{
    width: 700px;
    height: 700px;
    margin-top: 50px;
}